/* Geral */

body {
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.line-break {
    width: 100%;
}

.required
{
    color: red;
}

/* Cabecalho */

#cabecalho_container {
    height: fit-content;
    width: 100%;
    background-color: rgb(205, 226, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.navbar-brand img {
    height: 56px;
    width: auto;
}

/* The sidebar menu */
.sidebar {
    height: 450px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgb(47, 1, 248); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
  
  /* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: black;
}
  
  /* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(205, 226, 248);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}
  
.openbtn:hover {
    background-color: rgb(47, 1, 248);
}

.openbtn:focus {
      outline-width: 0px;
}

a.closebtn {
    color: white;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* Formulario */

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
  }
  
  #register {
    color: #000
  }
  
  h1 {
    text-align: center
  }
  
  input, textarea, select {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none
  }
  
  .tab input:focus, .tab textarea:focus, .tab select:focus  {
    border: 1px solid rgb(47, 1, 248) !important;
    outline: none
  }
  
  input.invalid, textarea.invalid, select.invalid {
    border: 1px solid #e03a0666
  }
  
  .tab {
    display: none
  }
  
  button {
    background-color: rgb(47, 1, 248);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
  }
  
  button:hover {
    opacity: 0.8
  }
  
  button:focus {
    outline: none !important
  }
  
  #prevBtn {
    background-color: #bbbbbb
  }
  
  .all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
  }
  
  .step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(47, 1, 248);
    opacity: 0.5
  }
  
  .step.active {
    opacity: 1
  }
  
  .step.finish {
    color: #fff;
    background: rgb(47, 1, 248);
    opacity: 1
  }
  
  .all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
  }
  
  .thanks-message {
    display: none
  }

