/* Geral */

body {
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

ul {
    list-style: none;
}

/* Cabecalho */

#cabecalho_container {
    height: fit-content;
    width: 100%;
    background-color: rgb(136, 192, 252);
}

a.navbar-brand img {
    height: 56px;
    width: auto;
}

/* The sidebar menu */
.sidebar {
    height: 450px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgb(47, 1, 248); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
  
  /* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: black;
}
  
  /* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(136, 192, 252);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}
  
.openbtn:hover {
    background-color: rgb(47, 1, 248);
}

.openbtn:focus {
      outline-width: 0px;
}

a.closebtn {
    color: white;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* Dados do usuario */

.user-container {
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.user-col {
    padding-right: 0px;
}

/*@media screen and ( max-width: 768px )
{
    .user-card {
        display: none;
    }
}*/

.card-header-user {
    height: 150px;
    display: flex;
    align-items: center;
}

i.fa-user-circle-o::before {
    font-size: 100px;
    display: inline;
    float: left;
}

#dados-usuario {
    margin-left: 10px;
    font-size: 25px;
}

.card-body-user {
    height: 100%;
}

#dados-lista {
    padding-left: 0px;
}

#deOndeSou {
    font-size: 20px;
}

#addLocation {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
    width: 100%;
}

#minhaFormacao {
    font-size: 20px;
}

#addF {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
    width: 100%;
}

#addMore {
    border: none;
    margin-bottom: 16px;
    background-color: transparent;
}

i.fa-plus {
    padding-right: 10px;
}

#minhaExperiencia {
    font-size: 20px;
}

i.fa-pencil {
    font-size: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.user-options-col {
    padding-left: 10px;
}

.tab-pane {
    padding-left: 16px;
    padding-top: 40px;
    height: fit-content;
}

.favoritos-col {
    padding-bottom: 50px;
}

.favoritos-card {
    height: fit-content;
}